@import '@seta/shared-ui/styles/index.css';
@import '@seta/shared-ui/styles/fonts.css';
@import '@seta/shared-ui/styles/globals.css';

:root {
  --fc-border-color: var(--color-border);
  --fc-today-bg-color: var(--color-background-surface);
  --fc-event-bg-color: transparent;
  --fc-event-border-color: transparent;
  --fc-event-text-color: inherit;
  --fc-daygrid-event-dot-width: 0px;
}

/* FUT-830: Display toast notifications above modal dialogs */
div[popover][role="region"]:not(#\#):not(#\#):not(#\#),
[role="region"][aria-label*="toast" i]:not(#\#):not(#\#):not(#\#),
[role="region"][aria-label*="Toast" i]:not(#\#):not(#\#):not(#\#) {
  z-index: 999999 !important;
}

